<% if logged_in? %>
  <div class="row">
    <div class="col-md-4">
      <div class="container bg-white border">
        <section class="user_info">
          <%= render "shared/user_info" %>
        </section>
        <section class="stats">
          <%= render "shared/stats" %>
        </section>
        <section class="micropost_form">
          <%= render "shared/micropost_form" %>
        </section>
      </div>
    </div>
    <div class="col-md-8">
      <h3><%= t ".feed" %></h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
<div class="text-center jumbotron rounded-0">
  <h1><%= t ".welcome" %></h1>
  <h2>
    <%= t ".message1" %>
    <a href="#"><%= t ".link" %></a>
    <%= t ".message2" %>
  </h2>
  <%= link_to t(".signup"), signup_path, class: "btn btn-outline-primary btn-lg rounded-0" %>
</div>
<% end %>
