<% provide :title, t(".title") %>
<h1 class="text-center"><%= t ".heading" %></h1>
<div class="row">
  <div class="col-md-6 offset-3">
    <%= form_for :session, url: login_path do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control rounded-0" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= link_to t(".forgot_password"), new_password_reset_path %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: "form-control rounded-0" %>
        <%= f.label :remember_me, class: "checkbox inline" do %>
      </div>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <span><%= t ".remember" %></span>
      </div>
      <% end %>
      <%= f.submit t(".login"), class: "btn btn-outline-primary rounded-0 btn-block" %>
    <% end %>
    <p>
      <%= t ".message" %>
      <%= link_to t(".signup"), signup_path %>
    </p>
  </div>
</div>
