<% provide :title, @user.name %>
<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-2">
          <%= gravatar_for @user %>
      </div>
      <div class="col-md-10">
        <h3>
          <%= @user.name %>
        </h3>
      </div>
    </div>
    <section class="mt-2">
      <%= render "shared/stats" %>
    </section>
  </div>
  <div class="col-md-8">
    <%= render "follow_form" if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>
        <%= t ".microposts", count: @user.microposts.count %>
      </h3>
      <%= paginate @microposts, theme: "twitter-bootstrap-4" %>
      <ol class="microposts list-group list-group-flush">
        <%= render @microposts %>
      </ol>
      <%= paginate @microposts, theme: "twitter-bootstrap-4" %>
    <% end %>
  </div>
</div>
